extends layout

block content
    #container
        img#logo(src='../../images/logo.png')
        a#login(data-role="button", data-rel="dialog", href="#loginDialog") Login
        a#login(data-role="button", data-rel="dialog", href="#registerDialog") Register

block additionalPages
    #loginDialog(data-role="page")
        div(data-role="header")
            h2 Login
        div(data-role="content")
            label(for="loginUsername") Username
            input#loginUsername(id="loginUser", type="text", placeholder="Username")

            label(for="loginPassword") Password
            input#loginPassword(id="loginPass", type="password", placeholder="Password")

            #loginError
            div(data-role="controlgroup", data-type="horizontal")
                a#loginCancel(data-role="button", data-rel="back") Cancel
                button#loginButton(type="submit" onclick="login()") Login

    #registerDialog(data-role="page")
        div(data-role="header")
            h2 Register
        div(data-role="content")
            label(for="registerFirstName") First Name
            input#registerFirstName(id="first", type="text", placeholder="First Name")

            label(for="registerLastName") Last Name
            input#registerLastName(id="last", type="text", placeholder="Last Name")

            label(for="registerUsername") Username
            input#registerUsername(id="regUser", type="text", placeholder="Username")

            label(for="registerPassword") Password
            input#registerPassword(id="regPass", type="password", placeholder="Password")

            label User type
            div(data-role="fieldcontain")
                fieldset(data-role="controlgroup")
                    input#registerTypeBuyer(type="checkbox", name="buy")
                    label(for="registerTypeBuyer") Buyer
                    input#registerTypeSeller(type="checkbox", name="sell")
                    label(for="registerTypeSeller") Seller

            div(data-role="controlgroup")
                a#registerCancel(data-role="button", data-rel="back") Cancel
                button#registerButton(type="submit" onclick="register()") Register