doctype 5
html(lang="en")
    head
        -if (clientType=="mobile")
            meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='../../css/' + clientType + '/BitCoinMeetup.min.css')
        -if (clientType=="mobile")
            link(rel='stylesheet', href='../../css/' + clientType + '/jquery.mobile.structure-1.3.2.min.css')
        link(rel='stylesheet', href='../../css/' + clientType + '/BitCoinMeetupSpecific.css')
        script(type='text/javascript', src='../../js/jquery-1.10.2.min.js')
        -if (clientType=="mobile")
            script(type='text/javascript', src='../../js/jquery.mobile-1.3.2.js')
        script(src="/socket.io/socket.io.js")
        script(type='text/javascript', src='../../js/' + clientType + '/BitCoinMeetup.js')
        script(type='text/javascript', src='../../js/shared/BitCoinMeetup.js')
        script(type='text/javascript', src='../../js/shared/geo.js')
        script(type='text/javascript', src="http://maps.google.com/maps/api/js?sensor=false")
        
    body(data-theme="b")

        -if (pageName)
            div(data-role="page", id=pageName)
                block header
                block content

        -else
            #page(data-role="page")
                block header
                block content

        a(id="dialogButton", style="display:none", href="#popupDialog", data-rel="dialog", data-position-to="window", data-role="button", data-inline="true", data-transition="pop")"Open"

        #popupDialog(data-role="popup", data-dismissible="false", class="ui-corner-all", style="display:none")
            #header(data-role="header", class="ui-corner-top")
                h1(id="dialog-tooltip") Header
            #content(data-role="content", class="ui-corner-bottom ui-content")
                h3(id="dialog-title", class="ui-title") Hello
                p(id="dialog-content") Content

        block additionalPages