extends menuLayout


block content
    #content(data-role="content")
        img#logo(src='../../images/logo.png')
        a(href="userSearch", data-role="button", rel="external") Search users
        a(href="notification", data-role="button", rel="external") Notifications
        a(href="broadcasts", data-role="button", rel="external") Broadcasts