extends menuLayout

block content
    #content(data-role="content")
        input#notificationId(type="hidden", value=data.id)
        h3 Notification Details
        label(for="notificationFrom") From user
        input#notificationFrom(type="text", disabled="disabled")
        label(for="notificationAmount") Amount of BitCoins
        input#notificationAmount(type="text", disabled="disabled", value=data.amount)
        label(for="notificationType") Type
        input#notificationType(type="text", disabled="disabled", value=data.type)
        button#notificationAccept(data-rel="back") Accept
        button#notificationReject(data-rel="back") Reject
    button#searchTopNearestSubmit(data-rel="back") Back
