extends menuLayout

block content
    #info(data-role="content")
        h3 Invite Users in Your Area
        button#show(onclick='getLocation()') Show Map
        #map

block additionalPages
    #results(data-role="page")
        #resultsHeader(data-role="header")
            h1 Invite User
        #resultsContent(data-role="content")
            #innerResults(data-role="controlgroup")

//block content
    #content(data-role="content")
        label(for="searchTopNearestAmount") Number of results
        input#searchTopNearestAmount(type="range", min="5", max="20", step="1", data-highlight="true", value="5")
        label(for="searchTopNearestRange") Range
        input#searchTopNearestRange(type="range", min="1", max="50", step="1", data-hightlight="true", value="1")
        button#searchTopNearestSubmit Search

//block additionalPages
    #results(data-role="page")
        #resultsHeader(data-role="header")
            h1 Search By Distance results
        #resultsContent(data-role="content")
            #innerResults(data-role="controlgroup")