extends menuLayout

block content
    #content(data-role="content")
        label(for="searchByIdId") User ID
        input#searchByIdId(id="id", type="text")
        button#searchMinRatingSubmit(onclick="searchById()") Search
block additionalPages
    #results(data-role="page")
        #resultsHeader(data-role="header")
            h1 Search By Id results
        #resultsContent(data-role="content")
            #innerResults(data-role="controlgroup")
