extends menuLayout

block content
    #content(data-role="content")
        label(for="searchByIdId") User ID
        input#searchByIdId(type="text")
        button#searchMinRatingSubmit Search

block additionalPages
